.numerator {

}

html {
    height: 100%;
    background: linear-gradient(#ffffff, #e598f8);
    background-position: center;
}

body {
    height: 250px;
    width: 450px;
    justify-content: center;
    padding: 5em 0 2em;
    font-size: 28px;
    margin: 0 auto;
    top: 100px;
}

button {
    font-size: x-large;
    background-color: transparent;
    border-radius: 20%;
    font-family: 'Abril Fatface', cursive;
    margin: 20px 5px;
    padding-top: 10px;padding-right: 40px;padding-left: 40px;padding-bottom: 10px;
}

button:hover {
    background-color: rgb(203, 212, 255);
}